@import url("https://use.typekit.net/efe4ony.css");
@import url("https://use.typekit.net/efe4ony.css");

html {
    height:100vh;
}

h1 {
    font-family: stratos;
    font-size: 48pt;
    color: #001ba6;
    padding-top: 5pt;
    padding-right: 25pt;
}

body {
    background-color: #faf0dc;
    height:100vh;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start; 
    list-style: none;
    padding: 0;
}

nav ul a {
    font-family: neue-haas-unica;
    font-size: 12pt;
    display:block;
    color: #9a002f;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #9a002f;
}

svg:hover {
  fill: #9a002f;
}

#bio a {
    color: white;
    text-decoration: underline;
}

#bio a:hover {
    color: #9a002f;
}

.container-fluid {
    padding-left: 35pt;
    padding-right: 0pt;
    padding-top: 0pt;
    height:100vh;
}

#navspace {
    padding-left: 0pt;
    padding-right:40px;
}

#bio {
    font-family: neue-haas-unica;
    color: white;
    font-size: 12pt;
    padding-right: 25pt;
}

.nav-link {
    padding-left: 0pt;
    padding-right: 20pt;
}

img {
    width: 100%;
    opacity: 1;
}

#headshot {
    display: block;
    padding: 0px 0px 0px 0px;
    margin: 0;
}

@media (max-width:1199.98px){
    #bio {
        font-size: 12pt;
    }
}

@media (max-width:991.98px){
    .container-fluid {
        padding-left: 35pt;
        padding-right:35pt;
    }
    #bio {
        font-size: 12pt;
    }
    #headshot {
        display: block;
        margin: 30px 0px 30px 0px;
    }
}

@media (max-width:575.98px){
    .container-fluid {
        padding-left: 35pt;
        padding-right:35pt;
    }
    #bio {
        font-size: 12pt;
    }
    #headshot {
        display: block;
        margin: 30px 0px 30px 0px;
}
}